.dashboardContainer {
  width: 100%;
}

.searchBar {
  display: flex;
  width: 100%;
  background-color: green;
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--secondary);
}

.pageTitle {
  font-size: 56px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: white;
  margin: 0;
}

.templateList {
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 40px;
}
