.message {
  margin-bottom: 10px;
  max-width: 70%;
  min-width: 120px;
}

.ownMessage {
  align-self: flex-end;
  background-color: #0084ff;
  color: white;
  border-radius: 10px 10px 0 10px;
}

.otherMessage {
  align-self: flex-start;
  background-color: #f1f0f0;
  color: black;
  border-radius: 10px 10px 10px 0;
}

.content {
  padding-top: 50px;
  padding: 0px 15px;
}

.timestamp {
  font-size: 12px;
  color: #999;
  text-align: right;
  padding: 0 5px 5px 0;
}
